.MainMenu{
	background: #1E1E1E;
	text-align: center;
	height: 3.75em; /*60/16 */
	position: fixed; /*para que el menu se que de  fijo*/
	left: 0; /*para poner todo el ancho al menu*/
	right: 0;
	top: 0;
}

.MainMenu-list{
	margin: 0;
	padding: 0;
}

.MainMenu-item{
	display: inline-block;
}

.MainMenu-link{
	color: #00DBFF;
	text-decoration: none;
	line-height: 3.75em; /*tiene recibir el mismo valor que el alto del padre y caundo es solo una linea*/
	margin-right: 1.5em;
}


