<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Portafolio.la</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width:device-width, maximun-scale=1"/>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700,400,400italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="../static/css/estilos.css">
		<link rel="stylesheet" href="../static/css/normalize.css">
	</head>
	<body>
		<header id="yo" class="Header">
			<nav class="MainMenu">
				<ul class="MainMenu-list">
					<li class="MainMenu-item">
						<a class="MainMenu-link"href="#yo">Yo</a>
					</li>
					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#perfil">Perfil</a>
					</li>
					<li class="MainMenu-item">
						<a class="MainMenu-link"  href="#trabajo">Trabajo</a>
					</li>
					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#contacto">Contacto</a>
					</li>
				</ul>
			</nav>
			<figure class="Header-imageContainer">
				<img src="../static/images/avatar.jpeg" alt="Imagen personal" class="Header-image">
				<figcaption  class="Header-imageDescription">
					<a class="Header-link"href="http://twitter/FrGZ" target="_blank">@FrGZ</a>
				</figcaption>
			</figure>
			<p class="Header-name">Francis Gonzalez</p>
		</header>
		<section id="Profile" class="Profile">
			<h2 class="Progile-title u-title">Mi perfil</h2>
			<p class="Profile-Description">
				Descripcion del <span class="Profile-span">perfil</span> en el portafolio
			</p>
			<a class="Profile-link" href="http://Twitter/FrGZ" target="_blank">@FrGZ</a>
			<a  class="Profile-link" href="http://Facebook/FrGZ" target="_blank">@Facebook</a>
			<a  class="Profile-link" href="http://GitHub/FrGZ" target="_blank">@Github</a>
		</section>
		<section id="trabajo" class="Work">
			<h2 class="Work-title u-title">Mi Trabajo</h2>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Work-image" src="../static/images/proyecto.jpg" alt="Descripcion dela imagen">
					<figcaption class="Work-description">Sitio web de mejorandola</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Work-image" src="../static/images/proyecto.jpg" alt="Descripcion dela imagen">
					<figcaption class="Work-description">Sitio web de mejorandola</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Work-image" src="../static/images/proyecto.jpg" alt="Descripcion dela imagen">
					<figcaption class="Work-description">Sitio web de mejorandola</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Work-image" src="../static/images/proyecto.jpg" alt="Descripcion dela imagen">
					<figcaption class="Work-description">Sitio web de mejorandola</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Work-image" src="../static/images/proyecto.jpg" alt="Descripcion dela imagen">
					<figcaption class="Work-description">Sitio web de mejorandola</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Work-image" src="../static/images/proyecto.jpg" alt="Descripcion dela imagen">
					<figcaption class="Work-description">Sitio web de mejorandola</figcaption>
				</figure>
			</article>
		</section>
		<footer id="contacto" class="Footer">
			<div class="Footer-left">
			<h3 class="Footer-title">Contacto</h3>
			<p class="Footer-description">Formulario de contacto para cualquier duda do sugerencia</p>
			</div>
			<form class="Footer-form">
				<input class="Footer-formInput" type="text" placeholder="Nombre"/>
				<input class="Footer-formInput" type="email" placeholder="Email"/>
				<textarea class="Footer-textArea" placeholder="Motivo"></textarea>
				<button class="Footer-button" type="submit">Contactar</button>
			</form>
		</footer>
	</body>
</html>